#app,
body,
html {
  width: 100%;
  height: 100%;
  background-color: #0B0F12;
  color: #a8acb6;
  margin: 0;
  padding: 0;
}

p {
  word-break: break-word;
}

a {
  color: #FE9E00;
  text-decoration: none;
}

.el-card {
  cursor: pointer;
  background: #0B0F12;
  border: 1px solid #2f363a;
  border-radius: 0px;
  margin-bottom: 40px;
  color: #fff;
}
.el-card__header {
  border-bottom: 1px solid #2f363a;
}
.card-header {
  position: relative;
}
.el-table {
  color: #fff;
}
.el-table th {
  background-color: #2f363a;
}
.el-table tr {
  background-color: #0B0F12;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #2f363a;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: #2f363a;
}
.el-table--enable-row-hover .el-table__body tr:hover>td,
.el-table__fixed-right::before, .el-table__fixed::before {
  background-color: #2f363a;
}
.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td {
  background-color: #2f363a;
}
@keyframes scaleAnimate {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.running {
  position: absolute;
  display: inline;
  top: -24px;
  left: -42px;
}

.running-icon {
  position: absolute;
  top: 26px;
  left: 26px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #00b17350;
  animation: scaleAnimate 1.5s ease-out infinite;
}

.running-icon-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00b173;
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 3;
}